/*Custom Badges*/
   /*General*/
#user-rollover .info .badge-box
#chat-messages .badge-box
{
	background:          none !important;
	background-size:     cover !important;
	background-repeat:   no-repeat !important;
	background-position: center center !important;
    border-radius: 8px;
}
/*Chel-San*/
#user-rollover.id-3980131 .badge-box > i.bdg,
.id-3980131 > .badge-box > i.bdg 
{
    background-image:    url("https://media.giphy.com/media/l41JWfZbRTDUHBEzu/giphy.gif");
    border-radius: 8px;
}
/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome- */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome  */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");
}

/* Nome */
#user-rollover.id- .badge-box > i.bdg,
.id- > .badge-box > i.bdg
{
    background-image:    url("");}