/*CSS>Edit:Fate*/
/*Importações*/
@import url("https://fatejapan.github.io/theme/main.css");
@import url("https://fatejapan.github.io/theme/stylings.css");
@import url("https://fatejapan.github.io/theme/dj.css");
/*@import url("https://fatejapan.github.io/theme/description.css");*/
@import url("https://fatejapan.github.io/theme/badges.css");
@import url("https://fatejapan.github.io/theme/vip.css");
/*@import url("https://fatejapan.github.io/theme/mzspace.css");*/
/*@import url("https://fatejapan.github.io/theme/move.css");*/
/*@import url("https://fatejapan.github.io/theme/zoom.css");*/
/*@import url("https://fatejapan.github.io/theme/fonts.css");*/
@import url("https://fatejapan.github.io/theme/rlcsr.css");
/*------------------------------------------------------*/
#footer #footer-user .info {
    z-index: 0!important;
}
#footer-user .buttons {
    z-index: -2 !important;
}
#footer-user {
    z-index: -1 !important;
}
.thumb.medium .avi {
	left: -24px!important;}