/*MZ>Space*/
/*Chel-San*/
/*Icone do Cargo*/
#user-rollover .id-3980131 .level:after {
    background-image: url("https://i.imgur.com/QowhEMT.png") !important;
    background-repeat: no-repeat;
    content: "Space";
    display: inline-block;
    color: #B0C4DE !important;
    font-weight: bold;
    margin: 0px 0px 0 18px !important;
    padding-left: 20px
}
#user-rollover .id-3980131 .thumb {
    border-color: #B0C4DE !important;
}
/*CSS>Dev Custom*/
   /*Chel-San*/
/*Icone do Cargo*/
#user-rollover .id-3980131:before {
    content: url("https://i.imgur.com/6aph5FJ.png") !important;
    top: 146px;
    left: 109px;
    position: absolute;
	display: inline-block; 
	padding: 0 3px;
    border-radius: 4px;
    font-size: 10px;
}
/*Texto do Cargo*/
#user-rollover .id-3980131 .meta:after {
    content: 'Custom Dev' !important;
    color: #B0C4DE;
    position: absolute;
    top: 144px;
    left: 134px;
    text-shadow: 0 0 2px #B0C4DE;
}
/*Start>Fix para Badge Rollover RCS*/
#user-rollover .id-3980131 .meta {
    height: 170px !important;
}
#user-rollover .id-3980131 .meta #isSpecial {
    top: 145px !important;
}
#user-rollover .id-3980131 .meta #isSpecialtxt {
    top: 143px !important;
}
#user-rollover .id-3980131 .meta #pp-special{
    display: none;}