/*MZ>Space*/
/*Chel-San*/
/*Icone>MZ Space Perfil*/
#user-rollover .id-4063416 .level:before {
    content: url("https://i.imgur.com/QowhEMT.png");
    margin: 0 65px 0 !important;
}
/*Nome>Space Perfil*/
#user-rollover .id-3980131 .level:after {
    content: "Space";
    display: inline-block;
    color: #B0C4DE !important;
    font-weight: bold;
    margin: 0px 0px 0 18px !important;
    padding-left: 20px
}
#user-rollover .id-3980131 .thumb {
    border-color: #B0C4DE !important;}
/*------------------------------------*/
/*CSS>Dev Custom*/
   /*Chel-San*/
/*Icone>CSS Perfil*/
#user-rollover .id-3980131 .meta:before {
    content: url("https://i.imgur.com/6aph5FJ.png");
    top: 145px;
    left: 109px;
    position: absolute;
}
/*Nome>CSS Perfil*/
#user-rollover .id-3980131 .meta:after {
    content: 'Custom Dev';
    color: #B0C4DE;
    position: absolute;
    top: 143px;
    left: 134px;
    text-shadow: 0 0 2px #B0C4DE;}
/*--------------------------------*/
/*Start>Fix para Badge Rollover RCS*/
#user-rollover .id-3980131 .meta {
    height: 170px !important;}